@media (max-width: 768px) {

    /* Adjust the max-width as needed */
    .responsive-image {
        height: 200px !important;
        /* Reduced height for small screens */
        object-fit: cover;
        /* Ensure the image maintains aspect ratio */
    }
}

/* In your CSS file or a style block */
.responsive-image {
    height: 350px;
    /* Default height for larger screens */
}

@media (min-width: 768px) {
    .product-large-image-wrapper {
        max-width: 40%;
    }
}

@media (max-width: 576px) {
    .product-large-image-wrapper {
        max-width: 100%;
    }
}